*.swp
*.swo
*.swn
*.bak
*.DS_Store
log/*.log
sessions/*
cookies/*
coverage/
*~
.\#*
.\#*#
*.#
*.#
#*.pid
*.pid.lock
#*.seed
*.seed.lock
public/uploads/*
.bundle
vendor/bundle
yarn-error.log
.node_modules

.byebug_history
.env
.idea/*